
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

body {
    font-family: Open Sans, sans-serif;

}
footer {
    background-color: #E83E8C;
    text-align: center;
    padding-bottom: 20px;
}

.navbar-color {
    background-color: #E83E8C;
}
