.open-sans-<uniquifier> {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

body {
    font-family: Open Sans, sans-serif;

}
footer {
    background-color: #E83E8C;
    text-align: center;
    padding-bottom: 20px;
}

.forma_pago {
    background-color: aqua;
    width: 100%;
    height: auto;
}
.navbar-color {
    background-color: #E83E8C;
}
